#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
  /* border: 1px solid white; */
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 50%;
  /* border: 1px solid red; */
}

.task {
  display: flex;
  flex-direction: row;
}

.task .taskInfo {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}